ref/
__pycache__/
*.pyc
*.egg-info/
dist/
build/
.eggs/
*.egg
.tox/
.mypy_cache/
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage
.coverage.*
venv/
.venv/
.env
.venv-dev/

# Additional ignores
coverage.xml
*.so
.idea/
.vscode/
*.swp
*.swo
site/
spike.py
errors.txt
out.yml
